  <div class="thumbnail">
    <img class="pictures" src={{item.image}} alt={{item.name}}>
    <div class="caption">
      <h3>{{item.name}}</h3>

    </div>
    <!-- <div class="panel-footer">
      <button {{action 'addToCart' item}}>Add to Cart</button>
        {{item-detail item=item}}
      </div> -->
  </div>
