  <div class="thumbnail">
    <img class="pictures" src={{item.image}} alt={{item.name}}>
    <div class="caption">
      <h3 {{action 'openModal' 'modal-main'}}>{{item.name}}</h3>
      <ul>
        <li>{{item.price}}</li>
      </ul>
    </div>
  </div>
